{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" id="about">
    <div class="row">
        <div class="col-sm-4 col-centered">
            <h2>About us</h2>
            <img src="{%static 'images/italy.jpg' %}" class="rounded float-left" alt="italy.jpg">
        </div>
        <div class="col-sm-7 col-centered">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Quam nulla porttitor
                massa id neque aliquam vestibulum morbi blandit. Egestas maecenas pharetra convallis posuere morbi leo
                urna molestie. Magnis dis parturient montes nascetur ridiculus mus mauris. Nunc id cursus metus aliquam
                eleifend mi in nulla. Sit amet commodo nulla facilisi. Purus semper eget duis at tellus at. Turpis
                egestas integer eget aliquet nibh praesent tristique magna. Nulla pharetra diam sit amet.<br><br>

                Morbi tristique senectus et netus. Nulla facilisi etiam dignissim diam quis enim lobortis. Aliquam
                nulla facilisi cras fermentum odio eu feugiat. Malesuada fames ac turpis egestas sed tempus urna.
                Aenean pharetra magna ac placerat. Vitae sapien pellentesque habitant morbi. Egestas congue quisque
                egestas diam in arcu cursus euismod. Lorem sed risus ultricies tristique nulla aliquet. Maecenas sed
                enim ut sem viverra aliquet eget. Rutrum tellus pellentesque eu tincidunt. Eu tincidunt tortor aliquam
                nulla facilisi cras fermentum. Amet risus nullam eget felis eget nunc lobortis mattis. Ultricies mi
                eget mauris pharetra et ultrices. Proin fermentum leo vel orci porta non pulvinar neque. Eu tincidunt
                tortor aliquam nulla facilisi cras fermentum odio eu. Gravida neque convallis a cras semper auctor
                neque vitae. Tincidunt augue interdum velit euismod in pellentesque massa.</p>

        </div>
    </div>
</div>

{% endblock %}